/* Variables */
:root {
  --primary: #17c69b;
  --secondary: #fb3640;
  --text-title: #a90448;
  --text-dark: #13141a;
  --text-light: #fff;
}

body {
  color: var(--text-dark);
}

/* Header & Footer */
header,
footer {
  background-color: var(--text-title);
  color: var(--text-light);
  padding: 1rem 0.75rem;
  text-align: center;
}

footer a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo-icon {
  padding: 0.10rem;
  background-color: var(--text-light);
  margin: 0.25rem 0.5rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* Main */
main {
  padding: 1rem;
  min-height: 92dvh;
}

#introduction {
  text-align: center;
}

#ejercicios {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  gap: 18px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 980px) {
  #ejercicios {
    max-width: 1000px;
    justify-content: space-between;
  }
}

.card {
  height: 320px;
  width: 200px;
  border: 1px solid var(--secondary);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-cta-btn {
  display: flex;
  justify-content: space-evenly;
}

.card-cta-btn a {
  padding: 6px 9px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-transform: uppercase;
  border: 1px solid var(--primary);
  text-decoration: none;
}

.card-cta-btn a:hover {
  border: 1px solid var(--secondary);
}

.card-cta-btn a.code,
.card-cta-btn a.code:visited  {
  background-color: var(--text-light);
  color: var(--primary);
}

.card-cta-btn a.code:hover {
  color: var(--secondary);
}

.card-cta-btn a.demo,
.card-cta-btn a.demo:visited {
  background-color: var(--primary);
  color: var(--text-light);
}

.card-cta-btn a.demo:hover {
  background-color: var(--secondary);
}